<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TracNghiemBangLaiXeMay"
        tools:targetApi="31">
        <activity
            android:name=".user.XemChiTietCauLiet"
            android:exported="false" />
        <activity
            android:name=".user.XemChiTietCauHaySai"
            android:exported="false" />
        <activity
            android:name=".user.BatDauOnTap"
            android:exported="false" />
        <activity
            android:name=".user.XemChiTietCauSai"
            android:exported="false" />
        <activity
            android:name=".user.ChiTietLuat"
            android:exported="false" />
        <activity
            android:name=".user.DSLuat"
            android:exported="false" />
        <activity
            android:name=".user.ShowAllBienBao"
            android:exported="false" />
        <activity
            android:name=".user.ChiTietBienBao"
            android:exported="false" />
        <activity
            android:name=".user.LichSuThiPage"
            android:exported="false" />
        <activity
            android:name=".user.KetQuaSauThiThu"
            android:exported="false" />
        <activity
            android:name=".user.ThiThuGDThi"
            android:exported="false" />
        <activity
            android:name=".user.ThiThuGDBatDau"
            android:exported="false" />
        <activity
            android:name=".user.HMeoThi"
            android:exported="false" />
        <activity
            android:name=".user.HTraCuuLuat"
            android:exported="false" />
        <activity
            android:name=".user.H60CauDiemLiet"
            android:exported="false" />
        <activity
            android:name=".user.H50CauHayBiSai"
            android:exported="false" />
        <activity
            android:name=".user.HBienBao"
            android:exported="false" />
        <activity
            android:name=".user.HOnTapCauHoi"
            android:exported="false" />
        <activity
            android:name=".user.HXemCauBiSai"
            android:exported="false" />
        <activity
            android:name=".user.HThiTheoBoDe"
            android:exported="false" />
        <activity
            android:name=".user.MainUserActivity"
            android:exported="false" />
        <activity
            android:name=".admin.GD_Admin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>